<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script type="text/jscript">

</script>

</head>
<body>
	
		
		<form action="/success" method="post">
			<p>
				姓名<input id="name" name="name" type="text" />
			</p >
			<h1 th:errors="${user.name}" th:if="${user!=null}"></h1>
			<p>
				年龄<input id="age" name="age" type="text" />
			</p >
			<p>
				电话<input id="phone" name="phone" type="text" />
			</p >
			<p>
				<button  type="submit">提交</button>
			</p >
		</form>
	
</body>
</html>