<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<script type="text/jscript">
	
</script>
<script type="text/javascript" >
 function jy(name，age,phone){
	 if (name.length==0) {
		 alert("姓名不能为空")
	 }if(age<0){
		 alert("不能小于0")
	 }if(phone.length!=11){
		 alert("电话格式不对")}
	 }
 }
 </script>
</head>
<body>
	
		
		<form action="/success">
			<p>
				姓名<input id="name" name="name" type="text" />
			</p >
			<p>
				年龄<input id="age" name="age" type="text" />
			</p >
			<p>
				电话<input id="phone" name="phone" type="text" />
			</p >
			<p>
				<button  type="submit">提交</button>
			</p >
		</form>
	
</body>
</html>